#board-detail-article {
  margin-top: 20px;
  min-width: 550px;
  max-width: 1024px;
  width: 550px;
  padding: 30px;
  margin: auto;
}

#board-detail-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#board-detail-info {
  display: flex;
  align-items: center;
  gap: 7px;
}

#board-detail-info-writer {
  font-size: 15px;
  font-weight: bold;
}

#board-detail-info-time {
  font-size: 13px;
  margin-left: 10px;
}

#board-detail-btn {
  display: flex;
  gap: 7px;
}

#board-detail-btn > input[type='button'] {
  border-radius: 10px;
  padding: 2px 10px;
  border-color: #aca0eb;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

#board-detail-img-container {
  display: flex;
  gap: 15px;
}

#board-detail-img-container img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}

#board-detail-content {
  margin: 24px 0;
}

#board-cnt-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 48px;
}

#board-cnt-section > div {
  width: 120px;
  height: 50px;
  background-color: lightgray;
  border-radius: 20px;
  z-index: 10;
  padding: 10px 0;
  text-align: center;
}

#board-cnt-section > div > p {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}

#board-review-add-section {
  position: relative;
  width: 100%;
  margin-top: 64px;
}

#board-review-add-area {
  width: 100%;
  height: 156px;
  resize: none;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
}

#board-review-section {
  margin-top: 34px;
  margin-left: 32px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
}
