#board-modify-main {
    max-width: 600px;
    min-width: 600px;
    min-height: 100vh;
    margin: 36px auto;
}

#board-modify-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#board-modify-content {
    min-width: 500px;
    min-height: 360px;
    padding: 10px;
    resize: none;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

#board-modify-img {
    min-width: 520px;
}

#board-modify-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}
