#index-main {
    width: 600px;
    min-width: 600px;
    padding: 32px 0;
    margin: 3% auto 0;
}

#board-add-btn-label {
    display: flex;
    justify-content: end;
    margin-top: 64px;
    margin-bottom: 32px;
}

#board-add-btn-container {
    display: flex;
    justify-content: end;
    margin: 5% 0;
}

#board-add-btn {
    width: 128px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #aca0eb;
    cursor: pointer;
}

#board-add-btn:hover {
    background-color: #7f6aee;
}

#board-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#board-container > div {
    border: 2px solid lightgray;
    border-radius: 25px;
    cursor: pointer;
    padding: 0 16px 16px 25px;
    z-index: 1000;
    box-shadow: darkgrey 2px 2px 2px 2px;
}

#board-container > div:hover {
    background-color: lightgray;
}

.board {
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    padding: 16px 32px;
    border: 1px solid lightgray;
    border-radius: 10px;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.board:hover {
    background-color: lightgray;
}

.board-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.board-hr {
    margin: 20px 0;
}

.board-writer {
    display: flex;
    gap: 12px;
    align-items: center;
}

.board-writer > span {
    font-weight: bold;
}
