/* 폰트 추가 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 페이지 설정 */
#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.user-avatar-sm {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-image: url('../images/photo_1.jpg');
}
