#article > div {
  width: 600px;
  min-width: 600px;
  margin-top: 17%;
  height: 100vh;
  padding: 32px 0;
}

#board-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

#board-add-btn-label {
  display: flex;
  justify-content: end;
  margin-top: 64px;
  margin-bottom: 32px;
}

#board-add-btn {
  width: 128px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #aca0eb;
  cursor: pointer;
}

#board-add-btn:hover {
  background-color: #7f6aee;
}

#board-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.board {
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  padding: 16px 32px;
  border: 1px solid lightgray;
  border-radius: 10px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.board:hover {
  background-color: lightgray;
}

.board-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.board-hor {
  margin: 20px 0;
}

.board-writer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.board-writer > span {
  font-weight: bold;
}
