#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#login-form label {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
}

#login-form label input {
    width: 500px;
    height: 36px;
    padding: 0 8px;
}

#submit-btn {
    width: 350px;
    height: 42px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    background-color: #ACA0EB;
    border: none;
}

.isNotAllowed {
    background-color: #ACA0EB;
    cursor: not-allowed;
}

.isAllowed {
    background-color: #7F6AEE;
    cursor: pointer;
}

.isAllowed:hover {
    opacity: 0.7;
}

#login-form .link {
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 16px;
}

#login-form .link:hover {
    opacity: 0.7;
}
