#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#login-form > label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
