#signup-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    min-width: 600px;
    min-height: 90vh;
    margin: 36px auto;
}

#signup-page-header {
    margin: auto;
}

#signup-header div {
    width: 515px;
    text-align: start;
    margin-top: 32px;
}

#signup-header div:first-child {
    font-weight: bold;
}

#signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-img-avatar {
    margin-top: 16px;
}

#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 32px 0 0 0;
}

#signup-form > label {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#signup-form input {
    margin: 5px 0;
}