.user-list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.nav {
    padding: 6px;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-right: 32px;
}

.nav > p {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.nav > p:hover {
    scale: 110%;
    opacity: 80%;
}

.feed-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#feeds {
    flex: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: 4px 4px 4px rgba(79, 100, 2, 0.2); /* 그림자 효과 */
    z-index: 10;
    padding: 24px;
}

#feeds > :nth-child(1) {
    font-weight: bold;
    font-size: 18px;
    color: #42421b8c;
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
}

#detail {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 120px;
}

.feed {
    margin: 16px;
    z-index: 10;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.feed:hover {
    transform: translateY(-4px); /* 호버 시 약간 위로 이동 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 확대 */
    background-color: white;
    opacity: 70%;
    cursor: pointer;
}

.feed > .imageCard {
    width: 200px;
    height: 100px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: #ffffff; /* 카드 배경색 */
    transition: transform 0.3s ease; /* 호버 시 부드러운 확대 효과 */
    padding: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feed > .feedInfo {
    margin-left: 24px;
}

.feed > .feedInfo > :nth-child(1) {
    font-size: 18px;
    width: 250px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.feed > .feedInfo > .innerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feed > .feedInfo > .innerFlex > :nth-child(1) {
    font-weight: bold;
    margin-right: 12px;
}

#detail > .article > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 640px;
}

#detail > .article > div > .article-title {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',
        sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: #afaf278c;
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
